body {
  background-color: #F0E68C;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;

}

p {
  margin-right: 25px;
}

.btn {
  width: 100px;
  height: 25px;
}

.square {
  display: inline-block;
  width: 90px; 
  height: 90px;
  background-color: green;
  margin: 5px; 
}

img {
  max-width: 100%; 
  height: auto;
  display: block; 
}
