body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
	align-items: center;
}

.title {

}

.bd-example{
  margin-top: 100px;
}

.btn {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
  width: 250px;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
}

.popover {
  z-index: 999;
}
